@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body, #root {
  height: 100%;
  background-color: #98bfff;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 55%;
  background-color: #11111d;
  margin-top: 35px;
  padding: 25px;
  padding-top: 10px;
}

.title{
  color: white;
  font-weight: bold;
  text-align: left;
}

.item{
  background-color: #191933;
  padding: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  color: white;
  margin-bottom: 10px;
  height: 60px;
}

.judul{
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0px;
}

.keterangan{
  margin-left: 5px;
  color: #60677b;
  font-size: 10px;
}

.complete{
  background-color: #555cff;
  padding: 5px;
  color: white;
  font-size: 10px;
}

.incomplete{
  background-color: #feae47;
  padding: 5px;
  color: white;
  font-size: 10px;
}

.no-data{
  color: white;
}

.btn-add{
  color: #ffffff;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  background-color: #555cff;
  font-size: 12px;
  float: right;
  margin-top: -55px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-detail{
  background-color: #191933;
  border: 1px solid #60677b;
  padding: 8px;
  color: #60677b;
  font-size: 12px;
  float: right;
  margin-top: -35px;
  border-radius: 20px;
  width: 13px;
  height: 13px;
  margin-right: 70px;
  cursor: pointer;
}

.btn-detail:hover{
  background-color: #feae47;
  border: 1px solid #feae47;
  border: 0px;
  padding: 8px;
  color: #ffffff;
  font-size: 12px;
  float: right;
  margin-top: -35px;
  border-radius: 20px;
  width: 13px;
  height: 13px;
}

.btn-edit{
  background-color: #191933;
  border: 1px solid #60677b;
  padding: 8px;
  color: #60677b;
  font-size: 12px;
  float: right;
  margin-top: -35px;
  border-radius: 20px;
  width: 13px;
  height: 13px;
  margin-right: 35px;
  cursor: pointer;
}

.btn-edit:hover{
  background-color: #555cff;
  border: 1px solid #555cff;
  border: 0px;
  padding: 8px;
  color: #ffffff;
  font-size: 12px;
  float: right;
  margin-top: -35px;
  border-radius: 20px;
  width: 13px;
  height: 13px;
}

.btn-delete{
  background-color: #191933;
  border: 1px solid #60677b;
  padding: 8px;
  color: #60677b;
  font-size: 12px;
  float: right;
  margin-top: -35px;
  border-radius: 20px;
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.btn-delete:hover{
  background-color: #ff3c3c;
  border: 1px solid #ff3c3c;
  border: 0px;
  padding: 8px;
  color: #ffffff;
  font-size: 12px;
  float: right;
  margin-top: -35px;
  border-radius: 20px;
  width: 13px;
  height: 13px;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 30%;
  right: 30%;
  min-height: 40px;
  background-color: #11111d;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
}

.ModalDelete {
  position: absolute;
  top: 40px;
  left: 38%;
  right: 38%;
  min-height: 40px;
  background-color: #11111d;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(6, 6, 10, 0.75);
}

.close-modal{
  float: right;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-right: -5px;
}

.modal-judul{
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.form-modal{
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-label{
  color: white;
  font-size: 14px;
}

.form-input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #555cff;
  color: white;
  width: 97%;
  padding: 10px;
  margin-top: 10px;
}

.form-select{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #555cff;
  color: white;
  width: 101%;
  padding: 10px;
  margin-top: 10px;
}

.select-option{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #555cff;
  color: white;
  width: 101%;
  padding: 10px;
  margin-top: 10px;
}

.form-button{
  background-color: #555cff;
  color: white;
  padding: 10px;
  margin-top: 30px;
  font-size: 13px;
  cursor: pointer;
}

.form-button-cancel{
  background-color: transparent;
  color: white;
  padding: 10px;
  margin-top: 30px;
  font-size: 13px;
  cursor: pointer;
  margin-left: 5px;
}

.form-bawah{
  margin-bottom: 25px;
}